.ser_title{
    margin-top: 100px;
    align-items: center;
    display: flex;
    justify-content: center; 
    padding: 10px 10px 0px 10px; 
}

.ser_input_name{
    align-items: center;
    display: flex;
    justify-content: center; 
    padding: 10px 10px 0px 10px;
}

.ser_input_timing{
    align-items: center;
    display: flex;
    justify-content: center; 
    padding: 10px 10px 0px 10px;
}

.ser_work_type{
    align-items: center;
    display: flex;
    justify-content: center; 
    padding: 10px 10px 0px 10px;
}

.address{
    align-items: center;
    display: flex;
    justify-content: center; 
    padding: 10px 10px 0px 10px;
}