.category_page{
    margin-top: 110px;
}

#two{
    display: flex;
    overflow: scroll;
}

.category_div{
  margin: 10px 0px 0px 10px;
}

.category_button_div{
    width: 150px;
    height:120px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    border: 1px solid gray;
    box-shadow: 2px 2px 10px gray;
    outline:none;
    /* margin:0px 10px 0px 10px ; */
    /* padding: 10px; */
   
}

.category_button_div:focus{
    /* background:olive; */
    background-color: #2874f0;
    border: 1px solid #2874f0;
    /* box-shadow: 1px 1px 6px #2874f0; */
    color:#fff;
}


.category_div div{
   padding: 5px;
}


.category_img{
    width: 65px;
    height:65px;
    margin-left: 34px;
    text-align: center;
}

.category_text{
    font-size: 18px;
    font-weight: 500;
}