.forget_page_overall_div{
       margin-top: 110px;
}

.forget_page_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget_page_btn{
    text-align: center;
    padding: 10px;
    
}

.forget_page_btn button{
    /* border: 1px solid black; */
    border:none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px grey;
}