.plumber_page{
    display: flex;
    margin-top: 100px;
    /* justify-content: center; */
    /* border: 2px solid red; */
}
.text-light {
    margin-left: 20px ;
}
.filter_dist{
    margin-left: 20px ; 
}


.plumber_div_1{
    /* margin-top: 100px; */
    width:100%;
    max-width: 25%;
    height: 100px;
   

    /* border: 1px solid rgb(250, 248, 248);
    background-color: rgb(245, 243, 247); */
    position: sticky;
    top :300px;
    /* background-color: blueviolet; */
} 

.plumber_div_2{
    padding: 0px 15px 0px 20px;
}

.plumber_div_3{
    width:100%;
    max-width: 25%;
    height:500px;
    /* border: 1px solid rgb(252, 249, 249);
    background-color:rgb(251, 251, 248); */
    position: sticky;
    top:0px;    
}
#user-icon{
    font-size: 15px;
    color: orange;
}
.plumber_profile{
    /* border: 1px solid grey; */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 1px gray;
    width:120%;
    padding: 0 ;
    max-width:665px;
    height:auto;
    margin-top: 10px;
}

.plumber_profile + div  {
    margin-top: 10px;
}


.plumber_profile_inner{
    display: flex;
    align-items: center;
   padding: 5px 10px 5px 10px;
}
/* 
.plumber_image_size{
     width:150px;
     height:150px;
} */

.plumber_img{
    width:180px;
    height:180px;
    border-radius: 2% 
}

.ratings_image{
    width:100px;
    height:27px;
}

.plumber_bio{
    /* padding: 0px 10px 0px 10px; */
    /* height: 100px; */
    width:100%;
    max-width:400px;
    margin-left: 20px;
    font-size: 15x;
    font-weight: bold;
    line-height: 15px;
}

.profile_address{
    margin-top: -5px;
    margin-left: 5px;
}

.plumber_booking_btn{
   outline:none;
   border: none;
   color:#fff;
   background-color: rgb(218, 32, 32);
   border-radius: 10px;
   width:100px;
   height: 35px;
   margin-right: 0px;
} 

.no{
    border: 1px solid black;
    width: 650px;
    margin-top: 30% ;
    text-align: center;
    color: red;
}