.profile_page{
    padding: 80px 50px 0px 50px;
    /* padding: 80px 0px 0px 300px; */
}

.profile_page_main_div{
    background-color:rgba(255, 255, 255, 0.884);    
}

.plumber_profile_banner{
    width:100%;
    height:450px;
    opacity: 0.92;
}

.plumber_profile_relative{
    position: relative;
}

.plumber_profile_absolute{
    position: absolute;
    top:40px;
    left:10px;
}

.plumber_name{
    color:#fff;
    font-weight: 500;
}

/* share profile modal */

.share_profile_cont{
    display: flex;
    justify-content: space-between;
}

.share_profile_heading{
    color:black;
}

.share_profile_select_heading{
    color:#666;
}

#share_btn{
    /* height:40px;
    width: 100px;
    font-weight: 500; */
    background-color: none;
    outline: none;
    border:none;
}

#share_profile{
    font-size: 18px;
    margin-left: 3px;
}

.share_profile_link{
    display: flex;
}

.plumber_profile_address_side{
    display: flex;
    padding: 10px;
}

.img_wrapper{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 0.5em;
    row-gap: 0.5em;
    padding-right: 20px;
}

.img_wrapper div{
    width: 85px;
    height:70px;
}

.company_images{
    height:100%;
    width:100%;
    border-radius: 5px;
}

.plumber_profile_bio_side{
    border: 1px solid #dee2e6;
    background-color: #fff;
    padding: 10px;
}



.plumber_profile_bio_btn_inline{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.bio_side_inline_btn{
      width:230px;
      height:80px;
      outline:none;
      border: 1px solid rgb(219, 219, 219);
      background-color: #fff;
      border-radius:10px;
      display: flex;
      justify-content: space-around;
      align-items: center; 
}

.inline_btn_cont h5{
    font-size: 20px;
    font-weight: 500;
    color:rgb(73, 73, 73);
}

.inline_btn_cont p{
    color:#666;
    font-size: 13px;
}

#hover_arrow_inline_btn{
    font-size: 22px;
    color:#666;
    padding: 0px 10px 0px 10px;
}

.book_now_btn{
   text-align: center;
   padding: 30px 0px 30px 0px;
}

#book_now_arrow{
    color:#fff;
    font-size: 15px;
    margin-left: 15px;
}

.book_now_btn button{
    width:175px;
    height: 50px;
    font-size: 20px;
    outline:none;
    border: none;
    color: #fff;
    background-color:rgb(182, 47, 47);
    border-radius: 25px;
    font-weight: 500;
}

.nav-item{
        width: 50%;
        font-size: 25px;
        outline: none;
}

.nav-link{
    width:100%;
}


.review_box{
    border:1px solid #dee2e6;
    border-top: none;
    padding: 15px;
}

#review_box_icon{
    margin-right: 10px;
    /* color:#dee2e6; */
}

/* .tab-pane{
    border-top: 5px solid #2874f0;
} */

.review_box_heading {
     font-size: 20px;
     color:#666;
}

.review_box div{
    padding-top: 7px;
    /* line-height: 30px; */
}


.review_box_cont{
    width: 100%;
    outline: none;
    border: 1px solid #bebebe;
}

.review_submit_btn{
    width:180px;
    height:40px;
    background-color: #2874f0;
    color:#fff;
    font-weight: 500;
    outline:none;
    border: 1px solid #2874f0;
    border-radius: 3px;
}


.business_info_div{
    padding-top:20px;
}

.business_info_div div{
    padding-top: 10px;
}

.tag_style{
    border: 1px solid #f1f3f6;
    background-color: #f1f3f6;
}

.tag_style h3{
    text-indent: 20px;
    font-size: 18px;
}

.business_info_cont h5{
    font-size: 18px;
}

.business_info_cont p{
  font-size: 13px;
  color: #666;
  /* text-indent: 20px; */
}