.profile_page{
    padding: 80px 50px 0px 50px;
}

.profile_page_main_div{
    background-color:rgba(255, 255, 255, 0.884);
    
}

.plumber_profile_banner{
    width:100%;
    height:450px;
}

.plumber_profile_address_side{
    display: flex;
    padding: 10px;
}

.img_wrapper{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 0.5em;
    row-gap: 0.5em;
    padding-right: 20px;
}

.img_wrapper div{
    width: 85px;
    height:70px;
}

.company_images{
    height:100%;
    width:100%;
    border-radius: 5px;
}

.plumber_profile_bio_side{
    border: 1px solid grey;
    background-color: #fff;
    padding: 10px;
}

.plumber_profile_bio_btn_inline{
    display: flex;
    justify-content: space-around;
}

.bio_side_inline_btn{
      width:230px;
      height:100px;
      outline:none;
      border: 1px solid rgb(219, 219, 219);
      background-color: #fff;
      border-radius: 3px;
      display: flex;
    justify-content: space-around;
    align-items: center;
}

.inline_btn_cont h5{
    font-size: 20px;
    font-weight: 500;
}

.inline_btn_cont p{
    color:#666;
    font-size: 13px;
}

#hover_arrow_inline_btn{
    font-size: 22px;
    padding: 0px 10px 0px 10px;
}

.book_now_btn{
   text-align: center;
   padding: 15px 0px 15px 0px;
}

.book_now_btn button{
    width:190px;
    height:55px;
    font-size: 20px;
    outline:none;
    border: none;
    color: #fff;
    background-color:rgb(214, 33, 33);
    border-radius: 7px;
    font-weight: 500;
}

.nav-item{
        width: 50%;
        font-size: 25px;
        outline: none;
}

.nav-link{
    width:100%;
}

.review_box{
    border:1px solid #dee2e6;
    border-top: none;
    padding: 15px;
}

.review_box_heading {
     font-size: 20px;
     color:#666;
}

.review_box div{
    padding-top: 7px;
    /* line-height: 30px; */
}


.review_box_cont{
    width: 100%;
    outline: none;
    border: 1px solid #666;
}

.review_submit_btn{
    width:180px;
    height:40px;
    background-color: #2874f0;
    color:#fff;
    font-weight: 500;
    outline:none;
    border: 1px solid #2874f0;
    border-radius: 3px;
}


.business_info_div{
    padding-top:10px;
}

.business_info_div div{
    padding-top: 10px;
}

.tag_style{
    border: 1px solid #f1f3f6;
    background-color: #f1f3f6;
}

.tag_style h3{
    text-indent: 20px;
    font-size: 18px;
}

.business_info_cont h5{
    font-size: 18px;
}

.business_info_cont p{
  font-size: 13px;
  color: #666;
  /* text-indent: 20px; */
}