.sign_in1{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 0px 30px 0px 30px;
}

.sign_in{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 0px 30px 0px 30px;
}

.sign_in_div{
  width:100%;
  max-width:800px;
  height:600px;
}

.sign_in_logo_div{
  text-align: center;
}

.sign_in_logo{
    width:120px;
    height: 60px;
  }
  
  .sign_in_form{  
     margin-top: 30px;
  }

  /* .form_div{
    line-height: 40px;
  } */

  /* .form_div div{
      margin-top: 10px;
  } */
  
  .form_input{
    border-bottom: 1px solid grey;
    line-height: 40px;
    margin-top: 13px;
  }

  .form_input label{
    width:120px;
    font-weight: 500;
  }

  .data_input{
    border: none;
    outline:none;
    width:80%;
    min-width: 100px;
    background-color: transparent;
  }
  

#d_flex{
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
}

#cross_sign{
  color: rgba(255, 0, 0, 0.719);
  font-size: 15px;
}

.sign_in_form_validation h6{
  color: rgba(255, 0, 0, 0.719);
  font-size: 13px; 
  margin: 3px 0px 0px 5px;
}

#d_flex_center{
  display: flex;
  justify-content: center;
}

.sign_in_form_validation h5{
  color: rgba(255, 0, 0, 0.719);
  font-size: 13px;
  margin: 3px 0px 0px 5px;
}


  .form_checkbox{
    display: flex;
    justify-content:space-between;
    padding-bottom: 5px; 
  }

  .form_checkbox_label{
    margin-left: 5px;
  }

  #forget_pass{
    color:brown;
    font-weight: 490;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  .forget_pass:hover{
    color: brown;
    background-color: rgba(207, 230, 238, 0.76);
    transition: 0.5s;
  }

#spinner_roll{
  text-align: center;
  padding-bottom: 5px;
}

  .form_sign_in_button_div{
    padding:0px 5px 0px 5px;
}
  
  .form_sign_in_button{
    width:100%;
    min-width:200px ;
    line-height: 35px;
    border-radius: 5px;
    outline:none;
    border: none;
    background-color: #2874f0;
    color:#fff;
    font-weight: 500px;
  }
  
  .form_center{
    text-align: center;
  }

  .form_center div{
    margin-top: 10px;
  }
  
.or_cont{
  line-height: 15px;
}


.inline_btn{
   width:120px;
   height:45px;
   margin: 0px 10px 0px 0px;
   border-radius: 10px;
   border: 1px solid grey;
}

.inline_img{
  width:27px;
  height:27px;
}

.sign_up_link:link{
  color:red;
}

.form_sign_in_button_div1{
  margin-top: 5%;
  padding:0px 5px 0px 5px;

}

